/* media query start */
@media screen and (min-width: 1024px) {
    .slider_margin_range {
      margin-top: -23rem;
    }
  }
  
  @media screen and (max-width: 1279px) {
    .carSlider .swiper-slide .slider_car {
      height: 380px;
      margin-left: auto;
      margin-right: auto;
    }
  }


  

  
  /* media query close */
  
  /* Mobile Versions */
  
  /*Slider car image height */
  @media screen and (max-width: 576px) {
    .carSlider .swiper-slide .slider_car {
      height: 200px;
      margin-left: auto;
      margin-right: auto;
    }
    .slider_margin_range {
      margin-top: -20rem !important;
    }
  }
  
  @media screen and (max-width: 768px) {
    .slider_margin_range {
      margin-top: -26rem;
    }
  }
  