/* @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&display=swap');

.panel p {
  font-size: 28pt;
  color: white;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  padding: 10px;
}

.panel p a {
  font-size: 40pt;
  color: white;
  /* font-family: 'Rubik', sans-serif; */
  padding: 10px;
}

.panel p a:hover {
  color: gray !important;
}

.App .panel {
  border-radius: 20px;
  padding: 10px;
  margin: 2px;
}

.hfont {
  /* font-family: 'Rubik', sans-serif; */
  margin-top: 30rem;
}

.hclass {
  visibility: hidden;
}
